* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}
/* common  */
.primary-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding: 16px 35px;
  background: #e55473;
  border-radius: 8px;
  border: none;
}

/* 
Banner section related styles
*/
.banner-container {
  width: 100;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fceef1;
  padding: 0px 100px;
}
.banner-info {
  width: 620px;
}
.banner-title {
  color: #272727;
  font-size: 70px;
  font-weight: 800;
}
.banner-description {
  color: #272727;
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0px;
}

.banner-img {
  height: 600px;
  margin-top: 35px;
}

/* 
featured section related styles
*/
.featured-info {
  margin-top: 170px;
  text-align: center;
}
.featured-title {
  color: #272727;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 25px;
}
.featured-description {
  color: #272727;
  font-size: 18px;
}
.featured-images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
  text-align: center;
  padding: 0px 180px;
}
.featured-image-1 {
  border-radius: 300px 300px 0px 0px;
  background-color: #f2dee7;
  width: 370px;
  height: 400px;
}
.featured-image-2 {
  border-radius: 300px 300px 0px 0px;
  background-color: #d9eff1;
  width: 370px;
  height: 400px;
}
.featured-image-3 {
  border-radius: 300px 300px 0px 0px;
  background-color: #e3ebdb;
  width: 370px;
  height: 400px;
}
.flower-img {
  margin-top: 80px;
  width: 250px;
  height: 320px;
}
.flower-name {
  margin-top: 20px;
  text-decoration: underline;
}

/* 
service related styles
*/
.service-container {
  width: 65%;
  text-align: center;
  margin: 0px auto;
  margin-top: 120px;
  display: flex;
  background-color: #f4f4f4;
  border-radius: 8px;
  justify-content: center;
  padding: 50px;
  gap: 50px;
}
.service img{
  width: 60px;
  height: 60px;
}
.service-title {
  color: #2d2c2c;
  font-size: 18px;
  margin-top: 15px;
}

/* 
Discount Sale section related styles 
*/
.discount-sale-container{
  height: 400px;
  margin-top: 120px;
  background-color: #FEF6F8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 150px;
  padding: 40px 150px;
  text-align: center;
  
}
.discount-sale-title{
  color: #272727;
font-size: 30px;
font-weight: bolder;
}
.off{
  color: #e55473;
}
.discount-sale-description{
  color: #2d2c2c;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin: 20px 0px;
}
.discount-sale-img{
  width: 250px;
  height: 300px;
}

 /*
  Instagram Media section related styles 
*/
.instagram-media-container{
  margin-top: 120px;
  text-align: center;
}
.media-title{
  color: #272727;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 25px;
}
.media-photos-container{
  display: flex;
  gap: 25px;
  justify-content: center;
  padding: 50px 100px;
}
.media-photos-container img{
  width: 250px;
  height: 300px;
}